<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Avisos</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="../../../../public/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
        <nav class="Navigator--bar">
            <ul class="Navigator--bar List">
                <a href="../Inventario/Inventario.html" class="Link">
                    <Li class="List--cont"><img alt="Inventario" src="../../../../public/images/icons/Inventario.png" title="Inventario"></Li>
                </a>
                <a href="../Estadistica/Estadistica.html" class="Link">
                    <Li class="List--cont"><img alt="Estadistica" src="../../../../public/images/icons/Estadistica.png" title="Estadistica"></Li>
                </a>
                <a href="../Proveedor/Proveedor.html" class="Link">
                    <Li class="List--cont"><img alt="Proveedores" src="../../../../public/images/icons/proveedor.png" title="Proveedores"></Li>
                </a>
                <a href="../Envios/Minorista/Minorista.html" class="Link">
                    <Li class="List--cont"><img alt="Envios/pedidos" src="../../../../public/images/icons/Envios.png" title="Envios/pedidos"></Li>
                </a>
                <a href="../Main/Main.html" class="Link">
                    <Li class="List--cont"><img alt="Avisos" src="../../../../public/images/icons/Home.png" title="Avisos"></Li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="Content">
            
        </div>
    </main>
</body>
</html>