<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Avisos</title>
    <link rel="stylesheet" href="Avisos.css">
    <link rel="stylesheet" href="../header-sidebar/Estilo.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="../../../../public/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
    </header>
    <nav class="Navigator--bar">
        <ul class="Navigator--bar List">
            <a href="../Main/Main.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
            <a href="../Inventario/Inventario.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
            <a href="../Estadistica/Estadistica.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
            <a href="../Proveedor/Proveedor.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
            <a href="../Envios/Minorista/Minorista.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
            <a href="Avisos.html" class="Link">
                <Li class="List--cont"></Li>
            </a>
        </ul>
    </nav>
    <main>
        <section class="Content">
            <article class="Reportes--Container">
                <form class="aviso">
                    <div class="Input--Container">
                        <span>Nuevo reporte</span>
                        <div class="Input">
                            <input type="text" placeholder="Escribir el reporte" required>
                            <img src="../../../../public/images/icons/Cancel.png" alt="icon">
                        </div>
                    </div>
                    <div class="Tipo--aviso">
                        <select required>
                            <option value="Envio">Envio</option>
                            <option value="Proveedor">Proveedor</option>
                            <option value="Personal">Personal</option>
                            <option value="Producto">Producto</option>
                        </select>
                    </div>
                    <div class="Fecha--reporte">
                        <input type="date" required>
                    </div>
                    
                    <button value="Crear Aviso" type="submit">Crear Aviso</button>
                </form>
            </article>
            <article class="Table--Container">
                <table>
                    <caption>Reportes de la empresa</caption>
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <th>Fecha de aviso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cesar es mrk</td>
                            <td>Personal</td>
                            <td>22/09/2024</td>
                        </tr>
                        <tr>
                            <td>Alejandro no trajo las niñas</td>
                            <td>Proveedor</td>
                            <td>23/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                        <tr>
                            <td>Lai no trajo el informe</td>
                            <td>Stock</td>
                            <td>24/09/2024</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
    </main>
</body>
</html>