<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Drinkers</title>
    <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
    <header>
        <div class="Content">
            <div class="Login__Title">
                <img src="/images/Logo/Logo.png" alt="Logo">
                <h2>Login</h2>
            </div>
            <form class="Form__page">
                <div class="Input--container">
                    <label for="Email">Email</label>
                    <div class="Container">
                        <input type="email" name="email" placeholder="Ingrese su email" required id="Email">
                        <img src="/images/icons/person.png" alt="Logo">
                    </div>
                </div>
                <div class="Input--container">
                    <label for="Contrase単a">Contrase単a</label>
                    <div class="Container">
                        <input type="password" name="password" placeholder="Ingrese su contrase単a" required id="Contrase単a">
                        <img src="/images/icons/lock.png" alt="Logo">
                    </div>
                </div>
                <div class="Buttons">
                    <a href="" id="link"><input type="submit" class="Submit--From" value="Ingresar"></a>
                    <a href="/register"><input class="Submit--From" value="Crear Cuenta"></a>
                </div>
            </form>
        </div>
    </header>
    <script src="/js/auth/login.js"></script>
</body>
</html>