<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers</title>
    <link rel="stylesheet" href="../content.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
<body>

    <section class="bg-direccion" id="modalContainer">
        <div class="modal-direccion">
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 2vmin;">
                <h3>A quien enviamos?</h3>
                <h3 style="cursor: pointer;" onclick="return Modal()">x</h3>
            </div>
            <hr>
            <form class="form-direccion">
                <input placeholder="Nombre y Apellido" type="text" style="grid-column: 1/4;" class="input-direccion">
                <select placeholder="Tipo" style="grid-column: 4/5;" class="input-direccion">
                    <option>V</option>
                    <option>E</option>
                </select>
                <input placeholder="Documento" type="text" style="grid-column: 5/7;" class="input-direccion">
                <input placeholder="Telefono" type="text" style="grid-column: 7/9;" class="input-direccion">
                <input placeholder="Dirección" type="text" style="grid-row: 2/2; grid-column: 2/8;" class="input-direccion">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62833.5730174723!2d-68.03550954914148!3d10.172663797884585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e80678bce61928f%3A0x9f78e9eea8c34272!2sValencia%2C%20Carabobo!5e0!3m2!1ses-419!2sve!4v1728592558316!5m2!1ses-419!2sve" width="100%" height="100%" style="border:0; grid-row:3/8; grid-column:3/7;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </form>
            <hr>
            <div style="display: flex; flex-direction: row; justify-content: end; width: 95%; gap: 1vmin; align-items: center;">
                <button>Guardar</button>
            </div>
        </div>
    </section>

    <header>
        <section>
            <img src="../../../../public/images/Logo/logo-landing.png">
            <input type="search">
            <section>
                <button>Iniciar sesión</button>
                <div>0</div>
                <img id="cart" src="../../../../public/images/icons/store.svg">
            </section>
        </section>
        <nav>
            <ul>
                <li><a href=""></a>RON</li>
                <li><a href=""></a>WHISKY</li>
                <li><a href=""></a>VINOS</li>
                <li><a href=""></a>SIDRA</li>
                <li><a href=""></a>BRANDY</li>
                <li><a href=""></a>VODKA</li>
                <li><a href=""></a>SANGRIA</li>
                <li><a href=""></a>ANIS</li>
                <li><a href=""></a>AGUARDIENTE</li>
            </ul>
        </nav>
    </header>

    <img id="whatsappIcon" src="../../../../public/images/icons/whatsapp.svg">

    <div id="values">
        <section id="dolars" class="value">$</section>
        <section id="bs" class="value">bs</section>
    </div>

    <aside>
        <button>
            <img src="../../../../public/images/icons/Trash.svg" alt="">
            <span>Vaciar Carrito</span>
        </button>
        <ul>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Caciqfhfghfghfghue</span>
                    <p>10.00$ (10.00$ c/udfsdfsdfsdfsdfsd)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
        </ul>
        <section>
            <div>
                <span>Tasa: 00.00</span>
                <span>Total($):00.00</span>
                <span>Total(Bs): 0 000.00</span>
            </div>
            <button>
                <span>Finalizar Compra</span>
            </button>
        </section>
    </aside>

    <main>
        <section class="arrows">
            <div class="arrow selected">
                <h3>Paso 1</h3>
                <p>Dirección de envío</p>
            </div>
            <div class="arrow">
                <h3>Paso 2</h3>
                <p>Tipo de envío</p>
            </div>
            <div class="arrow">
                <h3>Paso 3</h3>
                <p>Facturación</p>
            </div>
            <div class="arrow">
                <h3>Paso 4</h3>
                <p>Registra tu pago</p>
            </div>
        </section>

        <section class="first-step">
            <div class="subcontainer selectMode" id="selected-container">
                <img class="check" src="../../../../public/images/icons/checkfill.svg">
                <h3 class="container-title">Delivery</h3>
                <p class="container-content">Seleccione esta opcion si quieres que enviemos tu pedido con uno de nuestros Zoneros</p>
            </div>
            <div class="subcontainer selectMode">
                <img class="check" src="../../../../public/images/icons/checkunfill.svg">
                <h3 class="container-title">Pick up/Retirar en local</h3>
                <p class="container-content">Seleccione esta opcion si quieres buscar tu pedido en nuestra Zona Pick Up</p>
            </div>
            <div class="big-container">
                <h2 style="grid-column: 1/5; margin-left: 3vmin;">Alejandro Chávez • 0000000000 • 32278392</h2>
                <img src="../../../../public/images/icons/edit.svg" style="grid-column: 5 / 5; justify-self: center;align-self: center; cursor: pointer;" onclick="return Modal()">
                <p style="grid-row: 2/2; grid-column: 1/5; margin-left: 3vmin;">Carabobo • Naguanagua • Los Guayabitos</p>
                <p style="grid-row: 3/3; grid-column: 1/5; margin-left: 3vmin;">Residencias el Saman, edif azul con blanco, porton negro, justo al frente del restaurante club guayabal</p>
                <p style="grid-row: 4/4; grid-column: 1/4; color: red; margin-left: 3vmin;">Sin geolocalización incluida</p>
                <button class="button-siguiente" style="grid-row: 4/4; grid-column: 5/5; margin-left: 3vmin;">Siguiente</button>
            </div>
        </section>

        <section class="second-step">

        </section>
    </main>

    <footer>
        <h3>Atención al cliente</h3>
        <ul>
            <li>0000-000000000</li>
            <li>Hora de ATC: 24h</li>
            <li>Horarios de entrega: Valencia, Naguanagua y San Diego: 24h</li>
            <li>Envío en menos de 3 horas gratis el mismo día</li>
            <li>¿Quienes somos?</li>
            <li>Preguntas Frecuentes</li>
            <li>Zona de repartos</li>
            <li>Términos y Condiciones</li>
            <li>Políticas de Privación</li>
            <li>Políticas de Devolución</li>
        </ul>

        <section>
            <section>
                <div></div>
                <div></div>
                <div></div>
            </section>
            <article>
                <img src="../../../../public/images/Logo/logo-landing.png">
                <h2>Drinkers</h2>
            </article>
        </section>
    </footer>
    <script src="../content.js"></script>
    <script src="main.js"></script>
</body>
</html>