.arrows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100dvw;
    height: 12dvh;
}

textarea {
    resize: none;
}

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    clip-path: polygon(91% 0, 100% 50%, 90% 100%, 0% 100%, 8% 52%, 0% 0%);
    background-color: #F1F6FD;
    color: #B1CEF4;
    gap: 1vmin;
    margin-bottom: 2vmin;
}

.selected{
    background-color: #B1CEF4;
}

.selected > h3{
    color: #040C5D;
}

.selected > p{
    color: #666666;
}

.arrow > p{
    width: 40%;
    text-align: center;
}

.first-step{
    margin-top: 2vmin;
    width: 100dvw;
    height: 68dvh;
    display: none;
    grid-template-columns: repeat(2,25dvw);
    grid-template-rows: repeat(3,15dvh);
    justify-content: center;
    column-gap: 1vmin;
    gap: 6vmin;
}

.subcontainer{
    background-color: #EBEBEB;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row: 1fr 1fr;
    grid-auto-rows: 50%;
    cursor: pointer;
    color: #040C5D;
}

.container-content{
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 1.5vmin;
    margin: 0;
    margin-right: 1vmin;
}

.big-container{
    background-color: #EBEBEB;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    color: #040C5D;
}

#selected-container{
    background-color: #040C5D;
    color: white;
}

.container-title{
    font-weight: normal;
    align-self: center;
}

.check{
    align-self: center;
    justify-self: center;
}

.button-siguiente{
    height: 50%;
    width: 50%;
    border-radius: 5px;
    background-color: #040C5D;
    justify-self: center;
    align-self: center;
    color: white;
    border: none;
    cursor: pointer;
}

.bg-direccion{
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.581);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalContainer{
    display: none;
}

.modal-direccion{
    height: 80dvh;
    width: 45dvw;
    background-color: white;
    border-radius: 10px;
}

.form-direccion{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8,10%);
    grid-template-rows: repeat(7,10%);
    width: 100%;
    height: 75%;
    row-gap: 1vmin;
    column-gap: 1vmin;
}

.form-direccion > input, .form-direccion > select{
    border: solid 1px #B1CEF4;
    color: #040C5D;
}

.form-direccion > input::placeholder{
    color: #040C5D;
}

.form-direccion > input:focus{
    outline: none;
}

.input-direccion{
    height: 95%;
    border-radius: 5px;
}

.modal-direccion button{
    background-color: #040C5D;
    color: white;
    padding: 1vmin;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.second-step{
    width: 100dvw;
    height: 68dvh;
    display: grid;
    grid-template-columns: repeat(3,8%) 4vmin repeat(3,8%); 
    grid-template-rows: repeat(8,8%);
    justify-content: center;
    margin-top: 2vmin;
}

.date-view{
    grid-column: 1/4;
    grid-row: 1/9;
    background-color: #040C5D;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    color: white;
}

.date-view > h2{
    margin: 0;
    padding: 0;
    font-size: 25vmin;
}

.date-view > h5{
    margin: 0;
    padding: 0;
    font-size: 5vmin;
}

.second-step > button{
    background-color: #040C5D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.third-step{
    margin-top: 2vmin;
    width: 100dvw;
    height: 68dvh;
    display: none;
    justify-content: center;
    grid-template-columns: repeat(8,10%);
    grid-template-rows: repeat(6,10%);
}

.third-step form > input, .third-step form > textarea, .third-step form > select{
    border: solid 1px #B1CEF4;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat;
}

.third-step form > input::placeholder, .third-step form > textarea::placeholder{
    color: #040C5D;
}

.third-step form > button{
    border-radius: 5px;
    background-color: #040C5D;
    color: #EBEBEB;
    border: none;
    cursor: pointer;
}

.fourth-step{
    width: 100dvw;
    height: 68dvh;
    display: none;
    grid-template-columns: repeat(8,7dvw);
    grid-template-rows: repeat(6,7dvh);
    gap: 1vmin;
    justify-content: center;
}

.subcontainer3{
    border-radius: 10px;
    background-color: #EBEBEB;
    color: #040C5D;
}

.subcontainer3-selected{
    background-color: #040C5D;
    color: white;
}

.inputs{
    padding: 1vmin;
    border-radius: 5px;
    border: solid 1px #040C5D;
}

.number-input{
    padding: 1vmin;
    border-radius: 5px;
    border: solid 1px #040C5D;
}

.number-input:focus, .inputs:focus{
    outline: none;
}

.number-input[type="number"]::-webkit-inner-spin-button{
    opacity: 0;
}