<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% for (const user of users) { %>
      <p><%= user.name %></p>
    <% } %>
  </body>
</html>
