<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Gerente</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="">
            <a href="#">Salir</a>
        </div>
        <nav class="Navigator--bar">
            <ul class="Navigator--bar List">
                <a href="" class="Link">
                    <Li class="List--cont"><img alt="Inventario" src=""></Li>
                </a><a href="" class="Link">
                    <Li class="List--cont"><img alt="Estadistica" src=""></Li>
                </a><a href="" class="Link">
                    <Li class="List--cont"><img alt="Proveedores" src=""></Li>
                </a><a href="" class="Link">
                    <Li class="List--cont"><img alt="Envios/pedidos"></Li>
                </a><a href="" class="Link">
                    <Li class="List--cont"><img alt="Avisos" src=""></Li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <section class="Avisos--panel">
            <div class="Hora--avisos">12:12 PM</div>
            <div class="Fecha--avisos">12/09/2024</div>
            <div class="Panel">
                <table>
                    <caption>Avisos</caption>
                    <tr>
                        <td>Hora</td>
                        <td>12/09/2024</td>
                    </tr>
                    <tr>
                        <td>Minutos</td>
                        <td>11/10/2024</td>
                    </tr>
                    <tr>
                        <td>Segundos</td>
                        <td>12/12/2024</td>
                    </tr>
                    <tr>
                        <td>Milisegundos</td>
                        <td>11/06/2024</td>
                    </tr>
                    <tr>
                        <td>nanosegundos</td>
                        <td>12/08/2024</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
</body>
</html>