<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Qr</title>
    <link rel="stylesheet" href="/css/admin/consulta.css">
    <link rel="stylesheet" href="/css/admin/minorista.css">
    <link rel="shortcut icon" href="/images/Logo/logo-landing.png" type="image/x-icon">
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>
    <main>
        <p>Consulte su Factura indicando el identificador(ID) o El numero de Control </p>
        <section id="containerInputConsulta">
            <label for="inputConsulta">
                <img alt="Lupa" src="/images/icons/search.png" id="lupaConsulta">
            </label>
            <input type="number" placeholder="ID" id="inputConsulta">
            <select id="selectConsulta">
                <option selected value="0">ID</option>
                <option value="1">Control</option>
            </select>
        </section>
        <section>
            <table id="tableConsulta">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Control</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Base</th>
                        <th>IVA(%)</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="tbodyConsulta">

                </tbody>
            </table>
        </section>
        <br>

        <p>Consulte el usuario indicando el identificador(ID) o la Cedula(C.I)</p>
        <section id="containerInputUsuario">
            <label for="inputUsuario">
                <img alt="Lupa" src="/images/icons/search.png" id="lupaUsuario">
            </label>
            <input type="number" placeholder="ID" id="inputUsuario">
            <select id="selectUsuario">
                <option selected value="0">ID</option>
                <option value="1">Cedula</option>
            </select>
        </section>
        <section>
            <table id="tableUsuario">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Contraseña </th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Direccion</th>
                    </tr>
                </thead>
                <tbody id="tbodyUsuario">

                </tbody>
            </table>
        </section>
    </main>
    <script src="/js/admin/consulta.js"></script>
</body>
</html>