<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Gerente</title>
    <link rel="stylesheet" href="/css/admin/minorista.css">
    <link rel="stylesheet" href="../../../public/css/admin/header.css">
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>
    <main>
        <section class="Content--page">
            <article class="input--Container">
                <input type="search" placeholder="00000" id="Lupa">
                <label for="Lupa">
                    <img alt="Lupa" src="../../../../../public/images/icons/search.png" id="Lupa">
                </label>
            </article>
            <article class="Minorista--Mayorista">
                <div>
                    <span id="Minorista">Minorista</span>
                </div>
                <a href="/admin/envios/mayorista" id="Mayorista">Mayorista</a>
            </article>
        </section>
        <section class="Table--Container">
            <table>
                <caption>Envios Minoristas</caption>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Id__usuario</th>
                    <th>Destino</th>
                    <th>Fecha de compra</th>
                    <th>Monto</th>
                    <th>Fecha de entrega</th>
                    <th>Id__factura</th>
                    <th>Factura</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>Naguanagua</td>
                        <td>12/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>1</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>Naguanagua</td>
                        <td>12/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>2</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>3</td>
                        <td>Naguanagua</td>
                        <td>14/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>3</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>4</td>
                        <td>Naguanagua</td>
                        <td>14/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>3</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>4</td>
                        <td>Naguanagua</td>
                        <td>14/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>3</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>5</td>
                        <td>Naguanagua</td>
                        <td>14/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>3</td>
                        <td>Factura</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>6</td>
                        <td>Naguanagua</td>
                        <td>14/05/2024</td>
                        <td>25.55$</td>
                        <td>20/05/2024</td>
                        <td>3</td>
                        <td>Factura</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="/js/admin/minorista.js"></script>
</body>
</html>