:root{
    --PrimaryColor: #FFFFFF;
    --SecondaryColor: #001752;
    --ColorNavigatorBar: #232326;
    --HoverColor: #B1CEF4;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}
main{
    position: absolute;
    top: 105px;
    left: 185px;
    width: 80%;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    padding: 20px;
}
main .Content{
    width: 855px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
main .Content .Inputs--seleccionados{
    display: flex;
    gap: 5px;
    padding: 5px;
}
main .Content .Inputs--seleccionados .Input--Container{
    margin-left: 0px;
    display: flex;
}
main .Content .Inputs--seleccionados .Input--Container input{
    width: 250px;
    margin-top: 0;
    padding: 5px 10px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 5px;
    font-size: 1.1em;
}
main .Content .Inputs--seleccionados .Input--Container img{
    width: 30px;
    position: relative;
    left: -35px;
}
main .Content .Inputs--seleccionados .Input--Container select{
    width: 200px;
    margin-top: 0;
    padding: 5px 10px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 5px;
    font-size: 1.1em;
}
main .Content .icon{
    display: flex;
    margin-left: 145px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
main .Content .icon img{
    width: 25px;
    filter: drop-shadow(0 0 2px #fdfd);
    cursor: pointer;
    transition: .1s linear;
}
main .Content .icon img:hover{
    outline: 2px solid var(--ColorNavigatorBar);
    border-radius: 30px;
    outline-offset: 1px;
}
main .Table--inventario{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5px;
    margin-top: 10px;
    padding: 10px;
}
main .Table--inventario table{
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 5px 5px;
    border-top: none;
    border-collapse: collapse;
}
main .Table--inventario table caption{
    border: 2px solid #aaa;
    border-bottom: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
main .Table--inventario table th{
    padding: 3px 5px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-weight: 600;
}
main .Table--inventario table td{
    padding: 5px 30px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}
main .Table--inventario table tbody tr{
    transition: .1s linear;
}
main .Table--inventario table tbody tr:hover{
    background-color: var(--ColorNavigatorBar);
    color: var(--HoverColor);
}
