<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Inventario</title>
    <link rel="stylesheet" href="Inventario.css">
    <link rel="stylesheet" href="../header-sidebar/Estilo.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="../../../../public/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
    </header>
    <nav class="Navigator--bar">
        <ul class="Navigator--bar List">
            <a href="../Main/Main.html" class="Link">
                <Li class="List--cont"><img alt="Proveedores" src="../../../../public/images/icons/Home.png" title="Home"></Li>
            </a>
            <a href="Inventario.html" class="Link">
                <Li class="List--cont"><img alt="Inventario" src="../../../../public/images/icons/Inventario.png" title="Inventario"></Li>
            </a>
            <a href="../Estadistica/Estadistica.html" class="Link">
                <Li class="List--cont"><img alt="Estadistica" src="../../../../public/images/icons/Estadistica.png" title="Estadistica"></Li>
            </a>
            <a href="../Proveedor/Proveedor.html" class="Link">
                <Li class="List--cont"><img alt="Proveedores" src="../../../../public/images/icons/proveedor.png" title="Proveedores"></Li>
            </a>
            <a href="../Envios/Minorista/Minorista.html" class="Link">
                <Li class="List--cont"><img alt="Envios/pedidos" src="../../../../public/images/icons/Envios.png" title="Envios/pedidos"></Li>
            </a>
            <a href="../Avisos/Avisos.html" class="Link">
                <Li class="List--cont"><img alt="Avisos" src="../../../../public/images/icons/Reporte.png" title="Avisos"></Li>
            </a>
        </ul>
    </nav>
    <main>
        <section class="Content">
            <form class="Inputs--seleccionados">
                <div class="Input--Container">
                    <input type="search" placeholder="Buscar producto" id="Lupa">
                    <label for="Lupa">
                        <img src="../../../../public/images/icons/Search.png" alt="Lupa" id="Lupa">
                    </label>
                </div>
                <div class="Input--Container">
                    <select>
                        <option value="Ron">Ron</option>
                        <option value="Voodka">Voodka</option>
                        <option value="Cerveza">Cerveza</option>
                        <option value="Vulcana">Vulcana</option>
                    </select>
                </div>
            </form>
            <article class="icon">
                <img src="../../../../public/images/icons/delete.png" alt="Eliminar" title="Eliminar producto" id="Eliminar">
                <img src="../../../../public/images/icons/pencil.png" alt="Modificar" title="Modificar producto" id="Modificar">
                <img src="../../../../public/images/icons/add.png" alt="Añadir" title="Añadir producto" id="Añadir">
            </article>
        </section>
        <section class="Table--inventario">
            <table>
                <caption>Inventario de Bodega</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Producto</th>
                        <th>Tipo</th>
                        <th>Litros</th>
                        <th>Grados de alcohol</th>
                        <th>Imagen</th>
                        <th>Paquete</th>
                        <th>iva</th>
                        <th>Precio_detal</th>
                        <th>Precio_mayorista</th>
                        <th>stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ron</td>
                        <td>bebida</td>
                        <td>2</td>
                        <td>2.1</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1.2</td>
                        <td>35$</td>
                        <td>40$</td>
                        <td>2,5</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Voodka</td>
                        <td>bebida</td>
                        <td>2</td>
                        <td>2.1</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1.2</td>
                        <td>35$</td>
                        <td>40$</td>
                        <td>2,5</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Cerveza</td>
                        <td>bebida</td>
                        <td>2</td>
                        <td>2.1</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1.2</td>
                        <td>35$</td>
                        <td>40$</td>
                        <td>2,5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Vulcana</td>
                        <td>bebida</td>
                        <td>2</td>
                        <td>2.1</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1.2</td>
                        <td>35$</td>
                        <td>40$</td>
                        <td>2,5</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <dialog id="dialog--1">
            <span id="Cerrar">X</span>
            <h2>Agregar Producto</h2>
            <form>
                <div class="input--Container">
                    <div class="Items">
                        <label for="NombreProducto">Nombre del Producto</label>
                        <input placeholder="Ingrese el nombre del producto" type="text" id="NombreProducto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <select required>
                            <option value="">Bebida</option>
                            <option value="">Alcoholica</option>
                            <option value="">Energetica</option>
                            <option value="">Te</option>
                        </select>
                    </div>
                    <div class="Items">
                        <label for="Litros">Litros</label>
                        <input placeholder="Ingreso los litros de la bebida" required type="text" id="Litros">
                    </div>
                </div>
                <div class="input--Container">
                    <div>
                        <label for="Imagen">Imagen del producto</label>
                        <input type="file" id="Imagen"/>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Paquetes">Paquetes</label>
                        <input placeholder="Ingrese los paquetes" type="text" id="Paquetes" required>
                    </div>
                    <div class="item">
                        <label for="Iva">Iva</label>
                        <input placeholder="Ingrese el iva del producto" type="text" id="Iva" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Precio--detal">Precio detal</label>
                        <input placeholder="Ingrese el precio detal del producto" type="text" id="Precio--detal" required>
                    </div>
                    <div class="item">
                        <label for="Precio--mayorista">Precio mayorista</label>
                        <input placeholder="Ingrese el precio mayorista del producto" type="text" id="Precio--mayorista" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="stock">Cantidad de stock</label>
                        <input placeholder="Ingrese la Cantidad de stock" type="text" id="stock" required>
                    </div>
                </div>
                <button type="submit" id="submit">Agregar</button>
            </form>
        </dialog>
        <dialog id="dialog--2" class="Eliminar--producto">
            <span id="Cerrar--venta">X</span>
            <h2>Eliminar Producto</h2>
            <form>
                <div>
                    <label for="Eliminar--producto">Id</label>
                    <input type="text" placeholder="Ingrese el id del producto a eliminar" id="Eliminar--producto" required>
                </div>
                <button id="delete" type="submit">Eliminar</button>
            </form>
        </dialog>
        <dialog id="dialog--3">
            <span id="Cerrar--ventana">X</span>
            <h2>Modificar Producto</h2>
            <form>
                <div class="input--Container">
                    <div>
                        <label for="Modificar--producto">Id</label>
                        <input type="text" placeholder="Ingrese el id del producto Modificar" id="Modificar--producto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="NombreProducto">Nombre del Producto</label>
                        <input placeholder="Ingrese el nombre del producto" type="text" id="NombreProducto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <select required>
                            <option value="">Bebida</option>
                            <option value="">Alcoholica</option>
                            <option value="">Energetica</option>
                            <option value="">Te</option>
                        </select>
                    </div>
                    <div class="Items">
                        <label for="Litros">Litros</label>
                        <input placeholder="Ingreso los litros de la bebida" required type="text" id="Litros">
                    </div>
                </div>
                <div class="input--Container">
                    <div>
                        <label for="Imagen">Imagen del producto</label>
                        <input type="file" id="Imagen"/>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Paquetes">Paquetes</label>
                        <input placeholder="Ingrese los paquetes" type="text" id="Paquetes" required>
                    </div>
                    <div class="item">
                        <label for="Iva">Iva</label>
                        <input placeholder="Ingrese el iva del producto" type="text" id="Iva" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Precio--detal">Precio detal</label>
                        <input placeholder="Ingrese el precio detal del producto" type="text" id="Precio--detal" required>
                    </div>
                    <div class="item">
                        <label for="Precio--mayorista">Precio mayorista</label>
                        <input placeholder="Ingrese el precio mayorista del producto" type="text" id="Precio--mayorista" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="stock">Cantidad de stock</label>
                        <input placeholder="Ingrese la Cantidad de stock" type="text" id="stock" required>
                    </div>
                </div>
                <button type="submit" id="modified">Modificar</button>
            </form>
        </dialog>
    </main>
</body>
<script src="Inventario.js"></script>
</html>