header{
    width: 100%;
}
header .Content__header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 65px;
    border-bottom: 1px solid #000;
    border-left: none;
}
header .Content__header img{
    width: 45px;
    margin-left: 4px;
}
header .Content__header a{
    width: 75px;
    background-color: var(--SecondaryColor);
    color: var(--PrimaryColor);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 12px;
    transition: .1s linear;
}
header .Content__header a:hover{
    background-color: var(--HoverColor);
    color: var(--ColorNavigatorBar);
    border: 2px solid #aaa;
}
nav .Navigator--bar{
    width: 6%;
    height: 88.6vh;
    background-color: var(--ColorNavigatorBar);
    padding: 12px;
}
nav .List{
    padding: 12px;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}
nav .List svg{
    border-radius: 40px;
    width: 50px;
    background-color: var(--PrimaryColor);
    fill: var(--SecondaryColor);
    outline-offset: 2px;
    padding: 3px 3px;
}
.List svg:hover{
    background-color: var(--HoverColor);
    fill: var(--PrimaryColor);
    outline: 2px solid var(--SecondaryColor);
    padding: 5px 5px;
}