<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Estadistica</title>
    <link rel="stylesheet" href="Estadistica.css">
    <link rel="stylesheet" href="../header-sidebar/Estilo.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="../../../../public/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
        <nav class="Navigator--bar">
            <ul class="Navigator--bar List">
                <a href="../Main/Main.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
                <a href="../Inventario/Inventario.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
                <a href="Estadistica.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
                <a href="../Proveedor/Proveedor.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
                <a href="../Envios/Envios.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
                <a href="../Avisos/Avisos.html" class="Link">
                    <Li class="List--cont"></Li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <section class="Content">
            <article class="Table--Container">
                <div class="Input--Container">
                    <input type="search" placeholder="00000" id="Lupa">
                    <label for="Lupa">
                        <img src="../../../../public/images/icons/search.png" alt="Lupa" id="Lupa">
                    </label>
                </div>
                <div class="Table">
                    <table>
                        <caption>Tabla de Ventas</caption>
                        <thead>
                            <tr>
                                <th>Id Venta</th>
                                <th>Id Bebida</th>
                                <th>Cantidad</th>
                                <th>Ingresos $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>5</td>
                                <td>25$</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>8</td>
                                <td>45$</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>4</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>6</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>7</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>8</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>9</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>10</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>11</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>12</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>13</td>
                                <td>10</td>
                                <td>55$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <article class="Coversiones">
                <div class="Coversion--Container">
                    <h2>Conversion Monetaria</h2>
                    <form>
                        <div class="Dolar">
                            <input type="text" placeholder="$">
                        </div>
                        <span>=</span>
                        <div class="Bolivares">
                            <input type="text" placeholder="Bs">
                        </div>
                        <div class="Porcentaje">
                            <h2>Porcentaje de Ganancia</h2>
                            <div class="Resultado"></div>
                        </div>
                    </form>
                </div>
                <div class="Productos--Populares">
                    <table>
                        <caption>Popular</caption>
                        <tbody>
                            <tr>
                                <td>Ron</td>
                                <td>95%</td>
                            </tr>
                            <tr>
                                <td>Voodka</td>
                                <td>75%</td>
                            </tr>
                            <tr>
                                <td>Vulcana</td>
                                <td>35%</td>
                            </tr>
                            <tr>
                                <td>Black Label</td>
                                <td>85%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <article class="Container--Ventas">
                <div class="Container--1">
                    <div class="Ventas--dia">
                        <span>Ventas del Dia</span>
                        <span>002</span>
                    </div>
                    <div class="Ventas--mes">
                        <span>Ventas del Mes</span>
                        <span>002</span>
                    </div>
                </div>
                <div class="Container--2">
                    <div class="Ingresos">
                        <span>Ingresos</span>
                        <span>1.000.000</span>
                    </div>
                    <div class="Egresos">
                        <span>Egresos</span>
                        <span>1.000.000</span>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>