/* styles.css */
#chatbot {
    position: fixed;
    bottom: 60px; /* Espacio para el ícono */
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1000;
}

#chatIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#chatbox {
    display: flex;
    flex-direction: column;
    height: 400px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

#userInput {
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    width: calc(100%);
}

#sendButton {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}