:root{
    --PrimaryColor: #FFFFFF;
    --SecondaryColor: #001752;
    --ColorNavigatorBar: #232326;
    --HoverColor: #B1CEF4;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}
main{
    position: absolute;
    top: 95px;
    left: 145px;
    box-shadow: 0 0 5px var(--ColorNavigatorBar);
    width: 85%;
    height: 450px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
main .Content--table{
    height: 415px;
    padding: 10px;
}
main .Content--table .Table--Container{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;
    width: 390px;
    height: 395px;
}
main .Content--table .Table--Container div{
    display: flex;
    justify-content: left;
    align-items: center;
    
}
main .Content--table .Table--Container div input{
    width: 230px;
    padding: 7px 8px;
    width: 300px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 15px;
}
main .Content--table .Table--Container div input:hover{
    border: 2px solid var(--SecondaryColor);
}
main .Content--table .Table--Container div input::placeholder{
    color: var(--ColorNavigatorBar)
}
main .Content--table .Table--Container div label img{
    width: 25px;
    position: relative;
    left: -35px;
}
main .Content--table .Table--Container div table{
    border: 1px solid #aaa;
    height: 325px;
    display: block;
    border-radius: 15px;
    border-spacing: 0;
    overflow-y: auto;
    padding: 5px;
}
main .Content--table .Table--Container div table::-webkit-scrollbar{
    width: 10px;
    background-color: #aaa;
    border-radius: 15px;
}
main .Content .Table--Container div table::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: var(--ColorNavigatorBar);
}
main .Content--table .Table--Container div table caption{
    font-size: 1.1em;
    letter-spacing: 1px;
    border-bottom: 1px solid #aaa;
    font-weight: 600;
}
main .Content--table .Table--Container div table th{
    padding: 2px 30px;
    border-bottom: 1px solid #aaa;
    font-size: 0.9em;
}
main .Content--table .Table--Container div table tr{
    transition: .1s linear;
}
main .Content--table .Table--Container div table tbody tr:hover{
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
    cursor: pointer;
}
main .Content--table .Table--Container div table td{
    font-size: 0.9em;
    text-align: center;
    padding: 3px 10px;
    border-bottom: 1px solid #aaa;
}
main .Content--Container{
    height: 410px;
    width: 620px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
main .Content--Container .Conversiones--Grafica{
    height: 335px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
main .Content--Container .Conversiones--Grafica article{
    padding: 5px;
    border-radius: 15px;
}
main .Content--Container .Conversiones--Grafica article:nth-child(1){
    width: 260px;
    height: 140px;
    background-color: var(--SecondaryColor);
    color: var(--PrimaryColor);
}
main .Content--Container .Conversiones--Grafica h2{
    padding-left: 5px;
    font-size: 1.2em;
}
main .Content--Container .Conversiones--Grafica article div{
    margin: 10px;
    text-align: center;
}
main .Content--Container .Conversiones--Grafica article div input{
    text-align: center;
    width: 70px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.1em;
    border-radius: 20px;
    outline: none;
    border: 2px solid #aaa;
    transition: .1s linear;
    color: var(--ColorNavigatorBar);
}
main .Content--Container .Conversiones--Grafica article div input::placeholder{
    color: var(--ColorNavigatorBar);
}
main .Content--Container .Conversiones--Grafica article div input:hover{
    border: 2px solid var(--ColorNavigatorBar);
}

main .Content--Container .Conversiones--Grafica article:nth-child(2){
    border: 1px solid #aaa;
    width: 260px;
    height: 155px;
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
}
main .Content--Container .Table--Popular{
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5px;
}
.Table--Popular table{
    border: 2px solid #aaa;
    display: block;
    text-align: center;
    overflow-y: auto;
    width: 230px;
    height: 300px;
    border-spacing: 0;
    padding: 5px;
    border-radius: 15px;
}
.Table--Popular table::-webkit-scrollbar{
    width: 10px;
    background-color: #aaa;
    border-radius: 20px;
}
.Table--Popular table::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: var(--ColorNavigatorBar);
}
.Table--Popular table caption{
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px;
    text-wrap: nowrap;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}
.Table--Popular table tr{
    transition: .1s linear;
}
.Table--Popular table tbody tr:hover{
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
    cursor: pointer;
}
.Table--Popular table tbody tr td{
    padding: 20px 0;
    font-size: 1em;
    border-bottom: 1px solid #aaa;
}
main .Ventas{
    border: 2px solid #000;
    width: 540px;
    position: relative;
    left: 175px;
    top: -90px;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--SecondaryColor);
}
main .Ventas article{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
main .Ventas article div{
    text-align: center;
}
main .Ventas article .Container--1 div{
    border: 2px solid #000;
    width: 250px;
    padding: 10px;
    margin: 3px;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: var(--PrimaryColor);
}
main .Ventas article .Container--2 div{
    border: 2px solid #000;
    width: 240px;
    padding: 10px;
    margin: 3px;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: var(--PrimaryColor);
}

#myChart{
    background-color: var(--PrimaryColor);
}