:root{
    --PrimaryColor: #FFFFFF;
    --SecondaryColor: #001752;
    --ColorNavigatorBar: #232326;
    --HoverColor: #B1CEF4;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}
/*Main de la view*/
main{
    position: absolute;
    top: 95px;
    left: 165px;
    width: 80%;
    display: flex;
    border-radius: 15px;
    border-radius: 10px;
    flex-flow: column wrap;
    padding: 20px;
}
main .Content{
    width: 905px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
main .Content .Inputs--seleccionados{
    display: flex;
    gap: 30px;
}
main .Content .Inputs--seleccionados .Input--Container{
    margin-left: 0px;
    display: flex;
    align-items: center;
}
main .Content .Inputs--seleccionados .Input--Container input{
    padding: 7px 8px;
    width: 300px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 15px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
    display: none;
}

main .Content .Inputs--seleccionados .Input--Container img{
    width: 25px;
    position: relative;
    left: -35px;
    cursor: pointer;
}
main .Content .Inputs--seleccionados .Input--Container select{
    width: 200px;
    margin-top: 0;
    padding: 5px 10px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 15px;
    font-size: 1.1em;
}
main .Content .icon{
    display: flex;
    margin-left: 145px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
main .Content .icon img{
    width: 25px;
    filter: drop-shadow(0 0 2px #fdfd);
    cursor: pointer;
    transition: outline .1s 0.1s, border-radius .1s 0.1s, padding .1s 0.1s;
}
main .Content .icon img:hover{
    padding: 1px 0;
    outline: 2px solid var(--ColorNavigatorBar);
    border-radius: 30px;
    outline-offset: 1px;
}
main .Table--inventario {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
  
main .Table--inventario table {
    border: 1px solid #aaa;
    border-radius: 15px;
    height: 280px;
    padding: 0px 10px;
    border-collapse: collapse;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: block;
    width: 100%;
}

main .Table--inventario table::-webkit-scrollbar{
    width: 10px;
    background-color: #aaa;
    border-radius: 20px;
}
main .Table--inventario table::-webkit-scrollbar-thumb{
    background-color: var(--ColorNavigatorBar);
    border-radius: 15px;
    cursor: pointer;
}  
main .Table--inventario table caption {
    border-bottom: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
main .Table--inventario table th {
    width: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-weight: 600;
    font-size: 0.9em;
}

main .Table--inventario table thead tr th {
    padding: 0.5em 1em;
}
  
main .Table--inventario table td {
    text-align: center;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 0.9em;
    height: 2em;
    width: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
main .Table--inventario table tbody tr {
    transition: .1s linear;
}
  
main .Table--inventario table tbody tr:hover {
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
    cursor: pointer;
}
.presionado--bottom{
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
}
/*Ventana Modal*/
dialog{
    margin: auto;
    width: 650px;
    height: 475px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #000;
}
dialog[open]{
    animation: openModal 0.5s forwards;
}
/* Animación para abrir el modal */
@keyframes openModal {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
dialog span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.3em;
    padding: 5px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 500ms 0.1s;
}
dialog span:hover{
    background-color: var(--ColorNavigatorBar);
    color: var(--PrimaryColor);
}
dialog h2{
    font-size: 2em;
    letter-spacing: 1px;
    padding-left: 15px;
    color: var(--SecondaryColor);
    font-weight: 500;
}
dialog form{
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
}
dialog form .input--Container{
    display: flex;
    align-items: center;
    width: 550px;
    padding: 5px;
    gap: 10px;
}
dialog form .input--Container div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
}
dialog form .input--Container div label{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
}
dialog form .input--Container div input{
    width: 300px;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #aaa;
    border-right:2px solid #aaa;
    font-size: 0.9em;
    color: var(--ColorNavigatorBar);
    border-radius: 12px;
    transition: .1s linear;
}
dialog form .input--Container div input::placeholder{
    color: var(--ColorNavigatorBar);
}
dialog form .input--Container div input:hover{
    border-bottom: 2px solid var(--SecondaryColor);
    border-right:2px solid var(--SecondaryColor);
}
dialog form .input--Container div select{
    width: 130px;
    padding: 2px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #aaa;
    border-right:2px solid #aaa;
}
dialog form .input--Container .item img{
    width: 25px;
    position: relative;
    left: 265px;
    top: -35px;
}
dialog form .input--Container .Items img{
    width: 25px;
    position: relative;
    left: -35px;
}
dialog form .input--Container .Items input{
    width: 210px;
}
dialog form .input--Container label{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
}
dialog form .input--Container textarea{
    border: none;
    padding: 10px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 15px;
    font-size: 0.9em;
    max-lines: 2;
    outline: none;
    resize: none;
    width: 100%;
}
dialog form .input--Container textarea::placeholder{
    color: var(--ColorNavigatorBar);
}
dialog form .input--Container textarea:hover{
    border-right: 2px solid var(--SecondaryColor);
    border-bottom: 2px solid var(--SecondaryColor);
}
dialog form button{
    width: 280px;
    margin: auto;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: var(--ColorNavigatorBar);
    border: none;
    border-radius: 15px;
    outline: 1px solid #000;
    background-color: var(--PrimaryColor);
    font-weight: 600;
    transition: .1s linear;
}
dialog form button:hover{
    background-color: var(--HoverColor);
    cursor: pointer;
    outline: 2px solid #000;
    padding: 6px 10px;
}
#dialog--2{
    width: 640px;
    height: 505px;
}

#selectModifyProduct {
    width: 15em;
}