nav .Navigator--bar{
    width: 6%;
    height: 88.6vh;
    background-color: var(--ColorNavigatorBar);
    padding: 12px;
}
nav .List{
    padding: 14px;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
nav .List svg{
    border-radius: 40px;
    background-color: var(--PrimaryColor);
    fill: var(--SecondaryColor);
    outline-offset: 2px;
    padding: 2px 2px;
}
.List svg:hover{
    background-color: var(--ColorNavigatorBar);
    fill: var(--PrimaryColor);
    outline: 2px solid var(--PrimaryColor);
    padding: 5px 5px;
}