<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers | Payment</title>
    <link rel="shortcut icon" href="/images/Logo/logo-landing.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/user/general.css">
    <link rel="stylesheet" href="/css/user/payment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
<body>
    <section id="main">
        <h1>Pasarela de Pago</h1>
        <article id="firstStep" class="selectedArrow steps">
            <h3>Paso 1</h3>
            <p>Ingrese su cedula de identidad para generar la factura</p>
            <input required type="number" placeholder="C.I">
            <div id="controlBtns">
                <button class="backStep">Regresar</button>
                <button class="nextStep">Siguiente</button>
            </div>
        </article>
        <article id="secondStep" class="selectedArrow steps">
            <h3>Paso 2</h3>
            <p>¿Deseas recoger tu pedido (Pickup) o prefieres que te lo enviemos a domicilio (Delivery)?</p>
            <input required type="number" placeholder="C.I">
            <div id="controlBtns">
                <button class="backStep">Regresar</button>
                <button class="nextStep">Siguiente</button>
            </div>
        </article>
    </section>
    <script src="/js/user/payment.js"></script>
</body>
</html>