<li>
    <input type="number" class="productCant">
    <img class="productImage" src="<%= producto.imagen %>">
    <div>
        <span><%= producto.nombre_producto %></span>
        <p><%= producto.precio_detal %> c/u</p>
    </div>
    <img src="/images/icons/Trash.svg">
</li>