<aside>
    <button>
        <img src="/images/icons/Trash.svg" alt="">
        <span onclick="emptyCart()">Vaciar Carrito</span>
    </button>
    <ul>
    </ul>
    <section>
        <div>
            <span>Tasa: 00.00</span>
            <span>Total($):00.00</span>
            <span>Total(Bs): 0 000.00</span>
        </div>
        <button>
            <span>Finalizar Compra</span>
        </button>
    </section>
</aside>
<script>

    function cargarCarrito() {

        let cart = document.querySelector('aside ul');

        cart.innerHTML = '';

        for (let i = 0; i < localStorage.length; i++) {
            let key = localStorage.key(i);
            let product = JSON.parse(localStorage.getItem(key));
            let li = document.createElement('li');
            li.innerHTML = `
                <input type="number" class="productCant" value="${product.cantidad}">
                <img class="productImage" src="${product.imagen}">
                <div>
                    <span>${key}</span>
                    <p>${product.precio} c/u</p>
                </div>
                <img src="/images/icons/Trash.svg" onclick="removeProduct('${key}')">
            `;
            cart.appendChild(li);
        }
    }

    function removeProduct(key) {
        alert('Producto eliminado');
        localStorage.removeItem(key);
        document.getElementById('cart-length').innerText = localStorage.length;

        let li = document.querySelector(`aside ul li:contains(${key})`);
        let ul = document.querySelector('aside ul');
        ul.removeChild(li);
        console.log(ul)

    }

    function emptyCart() {
        localStorage.clear();
        document.getElementById('cart-length').innerText = localStorage.length;
        let cart = document.querySelector('aside ul');
        cart.innerHTML = '';
        alert('Carrito vaciado');
    }

    cargarCarrito();

</script>