<aside>
    <button>
        <img src="/images/icons/Trash.svg" alt="">
        <span>Vaciar Carrito</span>
    </button>
    <ul>
        <li>
            <input type="number" class="productCant">
            <img class="productImage" src="/images/Licores/ron-cacique.jpg">
            <div>
                <span>Ron Cacique</span>
                <p>10.00$ (10.00$ c/u)</p>
            </div>
            <img src="/images/icons/Trash.svg">
        </li>
        <li>
            <input type="number" class="productCant">
            <img class="productImage" src="/images/Licores/ron-cacique.jpg">
            <div>
                <span>Ron Cacique</span>
                <p>10.00$ (10.00$ c/u)</p>
            </div>
            <img src="/images/icons/Trash.svg">
        </li>
        <li>
            <input type="number" class="productCant">
            <img class="productImage" src="/images/Licores/ron-cacique.jpg">
            <div>
                <span>Ron Cacique</span>
                <p>10.00$ (10.00$ c/u)</p>
            </div>
            <img src="/images/icons/Trash.svg">
        </li>
        <li>
            <input type="number" class="productCant">
            <img class="productImage" src="/images/Licores/ron-cacique.jpg">
            <div>
                <span>Ron Cacique</span>
                <p>10.00$ (10.00$ c/u)</p>
            </div>
            <img src="/images/icons/Trash.svg">
        </li>
        <li>
            <input type="number" class="productCant">
            <img class="productImage" src="/images/Licores/ron-cacique.jpg">
            <div>
                <span>Ron Caciqfhfghfghfghue</span>
                <p>10.00$ (10.00$ c/udfsdfsdfsdfsdfsd)</p>
            </div>
            <img src="/images/icons/Trash.svg">
        </li>
    </ul>
    <section>
        <div>
            <span>Tasa: 00.00</span>
            <span>Total($):00.00</span>
            <span>Total(Bs): 0 000.00</span>
        </div>
        <button>
            <span>Finalizar Compra</span>
        </button>
    </section>
</aside>