<aside>
    <button>
        <img src="/images/icons/Trash.svg" alt="">
        <span onclick="emptyCart()">Vaciar Carrito</span>
    </button>
    <ul>
    </ul>
    <section>
        <div>
            <span id="tasa-cart">Tasa: </span>
            <span id="total-cart">Total($):00.00</span>
            <span id="totalbs-cart">Total(Bs): 0 000.00</span>
        </div>
        <button>
            <span>Finalizar Compra</span>
        </button>
    </section>
</aside>
<script>

    //Funcion para cargar el carrito desde el SessionStorage
    function cargarCarrito() {

        let cart = document.querySelector('aside ul');

        cart.innerHTML = '';

        for (let i = 0; i < sessionStorage.length; i++) {
            let key = sessionStorage.key(i);
            let product = JSON.parse(sessionStorage.getItem(key));
            let li = document.createElement('li');
            li.innerHTML = `
                <input readonly type="number" class="productCant" value="${product.cantidad}">
                <img class="productImage" src="${product.imagen}">
                <div>
                    <span>${key}</span>
                    <p>${product.precio} c/u</p>
                </div>
                <img src="/images/icons/Trash.svg" onclick="removeProduct('${key}')">
            `;
            cart.appendChild(li);
        }

        cargarDolar();
    }

    //Funcion para eliminar un producto del carrito
    function removeProduct(key) {
        sessionStorage.removeItem(key);
        document.getElementById('cart-length').innerText = sessionStorage.length;
        cargarCarrito()
    }

    //Funcion para vaciar el carrito
    function emptyCart() {
        sessionStorage.clear();
        document.getElementById('cart-length').innerText = sessionStorage.length;
        let cart = document.querySelector('aside ul');
        cart.innerHTML = '';
        cargarDolar();
    }

    //Funcion asincronca para cargar la api de Dolar y el dolar Promedio
    async function cargarDolar() {
        const response = await fetch("https://ve.dolarapi.com/v1/dolares/oficial")
        const data = await response.json()
        let dolar = data.promedio

        document.querySelector('#tasa-cart').innerText = `Tasa: ${dolar}`;

        let total = 0;
        let totalBs = 0;

        for (let i = 0; i < sessionStorage.length; i++) {
            let key = sessionStorage.key(i);
            let product = JSON.parse(sessionStorage.getItem(key));
            total += parseFloat(product.precio) * parseInt(product.cantidad);
        }

        totalBs = total * dolar;

        document.querySelector('#total-cart').innerText = `Total($): ${total.toFixed(2)}`;
        document.querySelector('#totalbs-cart').innerText = `Total(Bs): ${totalBs.toFixed(2)}`;
    }

</script>