<link rel="stylesheet" href="/css/user/chat.css">
<div id="chatbot" class="hidden">
    <div id="chatbox">
        <div id="messages"></div>
        <input type="text" id="userInput" placeholder="Escribe un mensaje...">
        <button id="sendButton">Enviar</button>
    </div>
</div>
<div id="chatIcon" onclick="toggleChatbot()">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="var(--blue)" fill-rule="evenodd" d="M1.25 12C1.25 6.063 6.063 1.25 12 1.25S22.75 6.063 22.75 12S17.937 22.75 12 22.75c-1.856 0-3.605-.471-5.13-1.3l-4.233.787a.75.75 0 0 1-.874-.874l.788-4.233A10.7 10.7 0 0 1 1.25 12m6-2A.75.75 0 0 1 8 9.25h8a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75M8 13.25a.75.75 0 0 0 0 1.5h4a.75.75 0 0 0 0-1.5z" clip-rule="evenodd"/></svg>
</div>
<script src="/js/user/chat.js"></script>