<link rel="stylesheet" href="/css/user/chat.css">
<div id="chatbot" class="hidden">
    <div id="chatbox">
        <div id="messages"></div>
        <input type="text" id="userInput" placeholder="Escribe un mensaje...">
        <button id="sendButton">Enviar</button>
    </div>
</div>
<div id="chatIcon" onclick="toggleChatbot()">
    <img width="32" height="32" src="https://img.icons8.com/badges/48/chat.png" alt="chat"/>
</div>
<script src="/js/user/chat.js"></script>