<div id="values">
    <section id="dolars" class="value">$</section>
    <section id="bs" class="value">bs</section>
</div>
<script>
    async function convert(){
        const response = await fetch("https://ve.dolarapi.com/v1/dolares/oficial")
        const data = await response.json()
        const dolar = data.promedio
        const bs = document.getElementById('bs')
        const dolars = document.getElementById('dolars')

        bs.onclick = ()=>{
            //Cambiar valores de la clase product-price a bs
        }

        dolars.onclick = ()=>{
            //Cambiar valores de la clase product-price a dolares
        }
    }

    convert()
</script>