<li>
    <div class="productView">
        <img class="productImg" src="">
        <input type="number" class="productCant">
        <button onclick="addProduct()">Agregar</button>
    </div>
    <h4><%= name %></h4>
    <h5>Desde <%= price %></h3>
</li>
<script>
    async function addProduct(){
        await fetch('/producto', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: '<%= name %>',
                price: '<%= price %>'
            })
        });
    }
</script>