<li>
    <div class="productView">
        <img class="productImg" src="<%= producto.imagen %>">
        <input type="number" class="productCant">
        <button onclick="addProduct(this)">Agregar</button>
    </div>
    <h4><%= producto.nombre_producto %></h4>
    <h5 class="product-price">Desde <%= producto.precio_detal %></h5>
</li>
<script>
    async function addProduct(button) {
        const productView = button.parentElement;
        const productLi = productView.parentElement;
        const nombreProducto = productLi.querySelector('h4').innerText;
        const cantidad = productView.querySelector('.productCant').value;
        const precio = productLi.querySelector('.product-price').innerText.split(' ')[1];
        const imagen = productView.querySelector('.productImg').src;

        let producto = nombreProducto.replace(/ /g, '');

        let cantidadTotal = cantidad;
        if (sessionStorage.getItem(producto)) {
            cantidadTotal = parseInt(cantidad) + parseInt(JSON.parse(sessionStorage.getItem(producto)).cantidad);
        }

        const productStorage = {
            cantidad: cantidadTotal,
            precio: precio,
            imagen: imagen
        };

        console.log(productStorage);
        sessionStorage.setItem(producto, JSON.stringify(productStorage));

        document.getElementById('cart-length').innerText = sessionStorage.length;

        cargarCarrito();
    }
</script>