<header>
    <section>
        <img onclick="window.location.href='/'" src="/images/Logo/logo-landing.png">
        <datalist id="catalogo">
            <option value="Ron">Ron</option>
            <option value="Whisky">Whisky</option>
            <option value="Vinos">Vinos</option>
            <option value="Sidra">Sidra</option>
            <option value="Brandy">Brandy</option>
            <option value="Vodka">Vodka</option>
            <option value="Sangría">Sangría</option>
            <option value="Anis">Anis</option>
        </datalist>
        <input type="search" list="catalogo" id="search-bar">
        <section>
            <img id="user-photo" src="https://picsum.photos/200/300">
            <button onclick="window.location.href='/login'">Iniciar sesión</button>
            <div id="cart-length"></div>
            <img id="cart" src="/images/icons/store.svg">
        </section>
    </section>
    <nav>
        <ul>
            <li><a href="/catalogo?type=Ron">RON</a></li>
            <li><a href="/catalogo?type=Whisky">WHISKY</a></li>
            <li><a href="/catalogo?type=Vinos">VINOS</a></li>
            <li><a href="/catalogo?type=Sidra">SIDRA</a></li>
            <li><a href="/catalogo?type=Brandy">BRANDY</a></li>
            <li><a href="/catalogo?type=Vodka">VODKA</a></li>
            <li><a href="/catalogo?type=Sangría">SANGRÍA</a></li>
            <li><a href="/catalogo?type=Anis">ANIS</a></li>
            <li><a href="/catalogo?type=Aguardiente">AGUARDIENTE</a></li>
        </ul>
    </nav>
</header>
<script>
    document.getElementById('cart-length').innerText = sessionStorage.length;

    document.querySelector('#search-bar').onchange = function() {
        window.location.href = `/catalogo?search=${this.value}`;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const userPhoto = document.getElementById('user-photo')
    });

</script>