<header>
    <section>
        <img src="/images/Logo/logo-landing.png">
        <input type="search">
        <section>
            <button onclick="window.location.href='/login'">Iniciar sesión</button>
            <div>0</div>
            <img id="cart" src="/images/icons/store.svg">
        </section>
    </section>
    <nav>
        <ul>
            <li><a href=""></a>RON</li>
            <li><a href=""></a>WHISKY</li>
            <li><a href=""></a>VINOS</li>
            <li><a href=""></a>SIDRA</li>
            <li><a href=""></a>BRANDY</li>
            <li><a href=""></a>VODKA</li>
            <li><a href=""></a>SANGRIA</li>
            <li><a href=""></a>ANIS</li>
            <li><a href=""></a>AGUARDIENTE</li>
        </ul>
    </nav>
</header>