
*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: url(../../../../public/images/Logo/Fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .Content{
    width: 350px;
    height: 480px;
    padding: 10px;
    border: 2px solid #000;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px #000;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
}
header .Content .Login__Title{
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}
header .Content .Login__Title img{
    width: 75px;
    margin-bottom: 12px;
    padding: 10px;
    filter: drop-shadow(4px 4px 40px #000);
    transition: .1s linear;
}
header .Content .Login__Title h2{
    font-size: 1.9em;
    letter-spacing: 3px;
    font-weight: 500;
    color: #F8F7F2;
}
header .Content .Form__page{
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-flow: column wrap;
    padding: 5px;
}
header .Content .Form__page .Input--container{
    margin: 5px 4px 10px 4px;
    font-size: 14px;
}
header .Content .Form__page .Input--container label{
    display: block;
    margin: 4px;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 0 5px #000;
}
header .Content .Form__page .Input--container .Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
header .Content .Form__page .Input--container .Container input{
    padding: 6px 5px;
    width: 300px;
    border: none;
    outline: none;
    background-color: transparent;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
}
header .Content .Form__page .Input--container .Container input::placeholder{
    color: #fff;
}
header .Content .Form__page .Input--container img{
    width: 26px;
    position: relative;
    left: -40px;
}
header .Content .Buttons{
    margin: auto;
    position: relative;
    left: 5px;
    margin-top: 25px;
}
header .Content .Buttons .Submit--From{
    width: 300px;
    padding: 7px 12px;
    margin: 4px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    background-color: #0D3871;
    border: none;
    outline: none;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: .1s linear;
}
header .Content .Buttons .Submit--From:hover{
    background-color: #fff;
    color: #000;
    font-weight: 500;
    padding: 10px 15px;
}