<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Drinkers</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="../../font/fonts.css">
</head>
<body>
    <header>
        <div class="Content">
            <div class="Login__Title">
                <img src="../../../public/images/Logo/Logo.png" alt="Logo">
                <h2>Bienvenido a Drinkers</h2>
            </div>
            <form class="Form-register">
                <div class="Input--Container">
                    <div>
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="Nombre" placeholder="Ingrese su nombre">
                        <label for="Nombre">
                            <img src="../../../public/images/icons/person.png" id="Nombre" alt="Logo">
                        </label>
                    </div>
                    <div>
                        <label for="Apellido">Apellido</label>
                        <input type="text" id="Apellido" placeholder="Ingrese su apellido">
                        <label for="Apellido">
                            <img src="../../../public/images/icons/Pencil--white.png" id="Apellido" alt="Logo">
                        </label>
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Correo">Correo</label>
                        <input type="email" id="Correo" placeholder="Ingrese su correo">
                        <label for="Correo">
                            <img src="../../../public/images/icons/mail.png" id="Correo" alt="Logo">
                    </div>
                    <div>
                        <label for="Password">Contraseña</label>
                        <input type="password" id="Password" placeholder="Ingrese su contraseña">
                        <label for="Password">
                            <img src="../../../public/images/icons/lock.png" id="Password" alt="Logo">
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </header>
</body>
<script src="app.js"></script>
</html>