<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Drinkers</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="../../font/fonts.css">
</head>
<body>
    <header>
        <div class="Content">
            <div class="Login__Title">
                <img src="../../../public/images/Logo/Logo.png" alt="Logo">
                <h2>Bienvenido a Drinkers</h2>
            </div>
            <form class="Form__page">
                
            </form>
        </div>
    </header>
</body>
<script src="app.js"></script>
</html>