:root{
    --PrimaryColor: #FFFFFF;
    --SecondaryColor: #001752;
    --ColorNavigatorBar: #232326;
    --HoverColor: #B1CEF4;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}
header{
    width: 100%;
    height: 100vh;
    padding: 10px;
}
header .Content__header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 65px;
    border: 2px solid #000;
    border-left: none;
}
header .Content__header img{
    width: 40px;
    margin: 0;
}
header .Content__header a{
    width: 75px;
    background-color: var(--SecondaryColor);
    color: var(--PrimaryColor);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 12px;
    transition: .1s linear;
}
header .Content__header a:hover{
    background-color: var(--HoverColor);
    color: var(--ColorNavigatorBar);
    border: 2px solid #aaa;
}
header .Navigator--bar{
    width: 6%;
    height: 91%;
    margin-top: 0.5px;
    background-color: var(--ColorNavigatorBar);
    padding: 7px;
}
header .List{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 5px;
}
header .List img{
    border-radius: 40px;
    width: 45px;
    outline: 2px solid var(--SecondaryColor);
    outline-offset: 2px;
    padding: 3px 3px;
}
header .List img:hover{
    background-color: #000;
    outline: 2px solid var(--PrimaryColor);
    padding: 5px 5px;
}
main{
    position: absolute;
    top: 105px;
    left: 155px;
    box-shadow: 0 0 3px #000;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
}
main .Content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
    gap: 25px;
}
main .Content .Info--Proveedor{
    border-radius: 15px;
    box-shadow: 0 0 3px var(--ColorNavigatorBar);
    width: 350px;
    height: 380px;
    padding: 10px;
    background-color: var(--SecondaryColor);
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    position: relative;
    gap: 5px;
    left: -380px;
}
main .Content .Info--Proveedor h1{
    font-size: 1.3em;
    padding-left: 6px;
    text-transform: capitalize;
    color: var(--PrimaryColor);
    letter-spacing: 1px;
    margin-top: 15px;
}
main .Content .Info--Proveedor article{
    display: flex;
    justify-content: left;
    flex-flow: column wrap;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--PrimaryColor);
    padding: 5px;
}
main .Content .Info--Proveedor article span{
    font-size: 0.9em;
    color: var(--SecondaryColor);
    letter-spacing: 1px;
    padding: 1px;
}
main .Content .Info--Proveedor article h3{
    font-size: 1em;
    text-shadow: 0 0 2px #aaa;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 2px;
}
main .Content .Info--Proveedor .Icon--proveedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 12px;
    margin-top: 5px;
    padding: 10px;
    background-color: transparent;
    border: none;
}
main .Content .Info--Proveedor .Icon--proveedor img{
    width: 26px;
    cursor: pointer;
    transition: .1s linear;
}
main .Content .Info--Proveedor .Icon--proveedor img:hover{
    padding: 1px 0px;
    outline: 2px solid #aaa;
    outline-offset: 2px;
    border-radius: 40px;
}
main .Content .Table--Container{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 380px;
}
main .Content .Table--Container .Input--Container{
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}
main .Content .Table--Container .Input--Container input{
    width: 230px;
    padding: 4px 8px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 10px;
}
main .Content .Table--Container .Input--Container img{
    width: 25px;
    position: relative;
    left: -35px;
}
main .Content .Table--Container table{
    margin-top: 15px;
    border: 2px solid #aaa;
    border-radius: 5px;
}
main .Content .Table--Container table caption{
    font-size: 1.3em;
    font-weight: 600;
    border: 2px solid #aaa;
    border-radius: 5px;
}
main .Content .Table--Container table th{
    padding: 0 10px;
    border: 1px solid #aaa;
}           
main .Content .Table--Container table td{
    text-align: center;
    padding: 5px 0;
}
main .Content .Table--Container table tbody tr{
    transition: .1s linear;
}
main .Content .Table--Container table tbody tr:hover{
    background-color: var(--ColorNavigatorBar);
    color: var(--HoverColor);
}       