<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers</title>
    <link rel="stylesheet" href="../content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section>
            <img src="../../../../public/images/Logo/logo-landing.png">
            <input type="search">
            <section>
                <button>Iniciar sesión</button>
                <div>0</div>
                <img id="cart" src="../../../../public/images/icons/store.svg">
            </section>
        </section>
        <nav>
            <ul>
                <li><a href=""></a>RON</li>
                <li><a href=""></a>WHISKY</li>
                <li><a href=""></a>VINOS</li>
                <li><a href=""></a>SIDRA</li>
                <li><a href=""></a>BRANDY</li>
                <li><a href=""></a>VODKA</li>
                <li><a href=""></a>SANGRIA</li>
                <li><a href=""></a>ANIS</li>
                <li><a href=""></a>AGUARDIENTE</li>
            </ul>
        </nav>
    </header>

    <img id="whatsappIcon" src="../../../../public/images/icons/whatsapp.svg">

    <div id="values">
        <section id="dolars" class="value">$</section>
        <section id="bs" class="value">bs</section>
    </div>

    <aside>
        <button>
            <img src="../../../../public/images/icons/Trash.svg" alt="">
            <span>Vaciar Carrito</span>
        </button>
        <ul>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Cacique</span>
                    <p>10.00$ (10.00$ c/u)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
            <li>
                <input type="number" class="productCant">
                <img class="productImage" src="../../../../public/images/Licores/ron-cacique.jpg">
                <div>
                    <span>Ron Caciqfhfghfghfghue</span>
                    <p>10.00$ (10.00$ c/udfsdfsdfsdfsdfsd)</p>
                </div>
                <img src="../../../../public/images/icons/Trash.svg">
            </li>
        </ul>
        <section>
            <div>
                <span>Tasa: 00.00</span>
                <span>Total($):00.00</span>
                <span>Total(Bs): 0 000.00</span>
            </div>
            <button>
                <span>Finalizar Compra</span>
            </button>
        </section>
    </aside>

    <main>
        <h2 class="subtitle">FAQ's</h2>
        <div>
        <details>
            <summary>¿QUIÉNES SOMOS?</summary>
        </details>

        <details>
            <summary>¿LOS PRECIOS DE LA PÁGINA WEB SE ENCUENTRAN ACTUALIZADOS?</summary>
        </details>

        <details>
            <summary>¿ES POSIBLE RECIBIR MI PEDIDO EN MI RESIDENCIA, OFICINA O SALÓN DE EVENTOS?</summary>
        </details>

        <details>
            <summary>¿PUEDO REALIZAR LA COMPRA DIRECTAMENTE EN LA TIENDA?</summary>
        </details>

        <details>
            <summary>¿CÓMO PUEDO REALIZAR EL PAGO DE MIS COMPRAS?</summary>
        </details>

        <details>
            <summary>¿PUEDO DIVIDIR EL PAGO?</summary>
        </details>

        <details>
            <summary>¿PUEDO PERSONALIZAR MI FACTURA?</summary>
        </details>

        <details>
            <summary>MI PEDIDO NO FUE APROBADO ¿QUÉ DEBO HACER?</summary>
        </details>

        <details>
            <summary>REALICÉ EL PAGO A TRAVÉS DE TRANSFERENCIA, PERO AÚN NO HA SIDO APROBADO ¿QUÉ DEBO HACER?</summary>
        </details>

        <details>
            <summary>¿CUÁLES SON LAS ZONAS DE ENTREGA?</summary>
        </details>
        </div>
    </main>

    <footer>
        <h3>Atención al cliente</h3>
        <ul>
            <li>0000-000000000</li>
            <li>Hora de ATC: 24h</li>
            <li>Horarios de entrega: Valencia, Naguanagua y San Diego: 24h</li>
            <li>Envío en menos de 3 horas gratis el mismo día</li>
            <li>¿Quienes somos?</li>
            <li>Preguntas Frecuentes</li>
            <li>Zona de repartos</li>
            <li>Términos y Condiciones</li>
            <li>Políticas de Privación</li>
            <li>Políticas de Devolución</li>
        </ul>

        <section>
            <section>
                <div></div>
                <div></div>
                <div></div>
            </section>
            <article>
                <img src="../../../../public/images/Logo/logo-landing.png">
                <h2>Drinkers</h2>
            </article>
        </section>
    </footer>
    <script src="../content.js"></script>
</body>
</html>